.countdown-timer {
        display: grid;
        min-height: 100vh;
        min-width: 100vw;
        align-content: center;
        justify-content: space-around;
    &__title{
        display: block;
        text-align: center;
        font-size: 3rem;
    }
    &__wrapper {
        display: flex;
        width: 720px;
        justify-content: space-between;
    }
    &__el {
        padding: 1rem;
        text-align: center;
        margin: 0 1rem;
    }
    &__number{
        font-size: 5rem;
        transition: all 350ms ease-in;
    }
}